body, .navbar {
    background-color: #1b1b1b;
}

.logo {
    color: white;
    text-align: center;
    font-family: 'Impact', sans-serif;
    font-size: 4.5em !important;
}

.sublogo {
    color: white;
    text-align: center;
    font-family: 'Impact', sans-serif;
    font-size: 2.5em !important;
}

section.section {
    background-color: whitesmoke;
}

div.separator {
    height: 10px;
}

img.logo {
    width: 40%;
    margin-left: 32%;
}

section.section div.container {
    text-align: center;
    min-height: 180px;
}

section.section div.container.left {
    text-align: left;
}

section.section div.container p{
    font-size: 1.3em;
    text-align: justify;
}

section.with-image {
    background: url(../assets/krav-maga.jpg) no-repeat fixed center;
    height: 200px;
    /*filter: blur(4px);*/
    filter: grayscale(1);
}

div.navbar  ul li {
    text-align: center;
    display: inline;
    margin: 30px;
}

a.nav-link {
    font-size: 1.3em;
    color: whitesmoke;
    margin-right: 0.2em;
    margin-left: 0.2em;    
    position: relative;
    font-family: sans-serif;


    transition: top 0.25s;
    top: 0;

}

a.nav-link:hover {
    top: -10px;
}

p + p {
    margin-bottom: 0.8em;
}

img.main-picture {
    filter: grayscale(1);
    border-radius: 5px;
}

div.footer p {
    position: absolute;
    bottom: 20px;
}	